body {
    margin: 40px auto;
    width: 80%;  
}

.container{
    top: 100px;
}

.center {
  display: block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

nav ul {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 80%; 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    padding: 14px 16px;
/*     padding: 0px; */
    list-style: none;
    font-weight: bold;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    bottom: 0;
    font-size: 1.5em;
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-color: "blue";
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2{
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

/* table {
    margin: 40px auto;
    width: 80%; 
    table-layout:auto;
    width:100%;
    
    font-size: 2em;
    line-height: 1.3em;
    color: #333;
} */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 1.5em;
  font-weight: bold;
/*   line-height: 1.3em;
  color: #333; */
}

thead th:nth-child(1) {
  width: 34%;
}

thead th:nth-child(2) {
  width: 40%;
}

thead th:nth-child(3) {
  width: 13%;
}

thead th:nth-child(4) {
  width: 13%;
}

th {
  border: 1px solid black;
/*   white-space: nowrap;
  text-overflow: ellipsis; */
}

td {
  border: 1px solid black;
/*   overflow: show;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

th, td {
  padding: 10px;
}

p {
    font-size: 2em;
    line-height: 1.8em;
    color: #333;
}


.listing{
    font-size: 2em;
}

.jobtitle{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.jobdate{
    font-size: 1.5em;
    text-align: center;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
