[submodule "_layouts"]
    path = /_layouts
    url = https://Dannyteo.github.io
    branch = master
[submodule "Dannyteo.github.io"]
    path = /Dannyteo.github.io
    url = https://Dannyteo.github.io
    branch = master
