<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<style>
	body {
	  background-color: aliceblue;
	}
</style>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand mb-0 h1" href="/">Danny Teo </a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" 
	aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	<div class="collapse navbar-collapse" id="navbar">
    	<ul class="navbar-nav">
      		<li class="nav-item">
        	<a class="nav-link" href="/about">about</a>
      		</li>
		<li class="nav-item">
        	<a class="nav-link" href="/credentials">credentials</a>
      		</li>
      		<!--<li class="nav-item">
        	<a class="nav-link" href="/clients">clients</a>
      		</li> -->
		<li class="nav-item">
        	<a class="nav-link" href="/speaking">speaking</a>
      		</li>
		<li class="nav-item">
        	<a class="nav-link" href="/training">training</a>
      		</li>
		<li class="nav-item">
        	<a class="nav-link" href="/consulting">consulting</a>
      		</li class="nav-item">
		<!--<li>
		<a class="nav-link" href="/projects">projects(IT)</a>
      		</li>-->
		<li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          	projects(IT)
		</a>
        	<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			<li><a class="dropdown-item" href="/projects/AIML">AIML</a></li>
			<li><a class="dropdown-item" href="/projects/pokemon">API</a></li>
			<li><a class="dropdown-item" href="/projects/jokes">joke</a></li>
		</ul>
		
	</ul>
  	</div>
	
	</nav>
 	
	<div class="container">
		{{ content }}	
	</div>
	
	<footer>
		<ul>
	        <li><a href="mailto:teo_yongsong@yahoo.com.sg">email:teo_yongsong@yahoo.com.sg</a></li>
		<li><a href="https://github.com/Dannyteo">github.com/Dannyteo</a></li>
		</ul>
	</footer>
	
	<script src="app.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
